/* custome css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
}

/* start nav section */
.navbar-brand i{
    color: #f59828 !important;
    font-size: 1.8rem;
}
.nav-item{
    padding: 0px 15px;
    font: 1.2rem;
    text-transform: uppercase;
}.navbar{
    background-color:#11004f;
}
.nav-link:hover{
    background-color: #fff;
    color: #f59828 !important;
    border-radius: 5px;
}
/* stop nav section */
/* start carousel section */
.carousel-item img{
    height: 90vh;
}
.caption{
    position: absolute;
    width: 40%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    color: #fff;
}
.caption a{
    text-decoration: none;
    color: #fff;
    border: 1px solid;
    padding: 5px 15px;
    margin-top: 15px;
    display: inline-block;
}
@media only screen and (max-width:700px){
    .caption{width: 80%;}
}
/* stop carousel section */
/* start about section */
section{
    margin: 60px 0px;
}
.heading{
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    display: block;
}
.subheading{
    text-align: center;
    color: #321b00;
}
.heading::before{
    content: "";
    width: 100px;
    height: 4px;
    background-color: #000;
    display:  inline-block;
    margin: 10px 0px;
}
.heading:after{
    content: "";
    width: 100px;
    height: 4px;
    background-color: #000;
    display:  inline-block;
    margin: 10px 0px;
}
.about-img img{
    max-height: 350px;
}
.about-text p, li{
    line-height: 35px;
}
.about-text ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.about-text i{
  margin-right: 15px;
  color: #ff8c00;
}
.btn{
    text-decoration: none;
    color: #42300a;
    border: 1px solid #ff8c00;
    border-radius: 5px;
    transition: 0.5s ease;
}
.btn:hover{
    background-color: #f59828;
    color: #fff;
    transform: translateY(-10px);
}
/* Stop about section */
/* Start gallery section */
.tab-content{
    padding: 50px;
}
.tab-content img{
    margin: 5px;
}
.tab-content img{
    width: 300px;
    height: 200px;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    background-color:#11004f;
    color: #f59828; 
}
.nav-tabs .nav-link{
    color: #000;
    font-size: 1.2rem;
}
/* stop galleery section */
/* start service section */
.card{
    padding: 10px 15px;
    box-shadow: 0px 0px 15px gray;
    margin-top: 10px;
    transition: 0.5s ease;
}
.card i{
    font-size: 3rem;
    font-weight: 400;
    text-align: center;
    color: #ff8c00;
}
.card span{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 15px;
}
.card p{
    text-align: center;
}
.card a{
    text-decoration: none;
    text-align: center;
    padding: 10px 0px;
}
/* .card:hover{
    background-color: #ff8c00;
    color: #fff;
    transform: translateY(-15px);
}
.card i:hover{
    color: #fff !important; 
} */
/* stop service section */
/* start help section */
.helpdesk{
    background-color:#11004f;
    color: #fff;
    text-align: center;  
}
.helpdesk p{
    letter-spacing: 2px;
}
.ph{
    color: #ff8c00;
}
/* stop help section */
/* Start faqs section */
.faqs-img{
    min-width: 100%;
    max-height: 500px;
}
.accordion-button{
    font-weight:500;
}
/* stop faqs section */
/* start our team section */
.team-card{
    width: 100%;
  
}
.card-title{
    font-size: 1.5rem;
}
.team-card img{
    max-width: 300px;
    min-height: 150px;
}
.team-card img{
    width: 50%;
}
.team-card img{
    border-radius: 50%;
    padding: 10px;
}
.team-card i{
    font-size: 1.5rem;
    padding: 5px 10px;
}
/* .team-card i:hover{
    color: #fff;
} */
/* stop our team section */
.details{
    margin: 25px 35px;
}

/* Start footer section */
.footer{
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;
    padding: 25px 0px;
    color: #fff;
    background-color: #11004f;
}
/* stop footer section */